body {
    background-color: rgb(155, 246, 155);
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.spill {
    background-color: black;
    position: relative;
}

.padde {
    background-color: white;
    height: 25px;
    position: absolute;
}

.ball {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}